.CardContainer {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.Card {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.Card:hover {
    transform: scale(1.03);
}