.CardContainer {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.Card {
    width: 300px;
    height: 300px;
    border: 2px solid #B3A125;
    border-radius: 10px;
    background-color: firebrick;
}

.Card > p {
    font-size: 30px;
    color: #B3A125;
}

.Card:hover {
    transform: scale(1.03);
}